<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="container">
	<h1>Welcome <%= current_user.username%> </h1>
	<br/>
	<h3>Here are your current titles</h3>
	<% @user.comics.each do | comic | %> 
	<h3><%= link_to comic.title , comic_path(comic.id), :class => 'comic-title'  %></h3>
	<% end %>
	<br />
	
	

</div>
</body>
</html>