# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 28b31966e4fc9f57f15cbc0a9879468339a56d9d6c433a335d9447847cc2ea86f1f59e2442749d9e52f4c1fdb1095b1c15eb0300804885d82638727e9a327bd0
  PUBLIC_KEY: <%= ENV["PUBLIC_KEY"] %>
  PRIVATE_KEY: <%= ENV["PRIVATE_KEY"] %>
test:
  secret_key_base: 228c0da70b64ff00cdba8609b097806b4d2e8f6b94c4bb8058ba6843110503311f9a21eeaae31881d82009ae1d752b0bae1e7973fd375ff938d18b7bf35dc71e

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  PUBLIC_KEY: <%= ENV["PUBLIC_KEY"] %>
  PRIVATE_KEY: <%= ENV["PRIVATE_KEY"] %>
