<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body id="intro">
<h2>Hey Everybody, welcome to the site</h2>
<p>This site is super cool, it lets you follow all the current Marvel you are reading. This site lets you know the release date for which ever Marvel comics you are reading.</p>
<p>Hey if you havn't already, click the sign up link above. If you have then just click add comics and spell everything correctly (don't forget words like "the" thanks for visiting</p>



</body>
</html>